.dashboard{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image_circle{
    padding: 5px;
    background: url('../../assets/circle.svg') no-repeat;
}

.image_x{
    padding: 5px;
    background: url('../../assets/x.svg') no-repeat;
}

/* Table */
table {
    width: 80%;
    border-collapse: collapse;
}
td {
    width: 33.333%;
    border: 6px solid #222;
}
td::after {
    content: '';
    display: block;
    margin-top: 100%;
}
td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
}
td:nth-of-type(2) {
    border-top-color: transparent;
}
td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
}
tr:nth-of-type(3) td {
    border-bottom-color: transparent;
}